---
theme: "blue"
---

<table id="e-content">

  <!-- Hero Image -->
  <tr>
    <td>
      <%= image_tag 'https://placeimg.com/640/300/nature?hash=a' %>
    </td>
  </tr>

  <!-- Hero -->
  <tr>
    <td class="bg-gray-medium ct-gray pl-20 pr-20">
      <table>
        <tr>
          <td class="bg-white f-helvetica t-uppercase ct-black fs-28 pt-40 pb-10 pl-40 pr-40" align="center">
            Bem Vindo
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 ct-gray pl-40 pr-40 pb-20" align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laudantium atque quod consequuntur, dolor repellendus. Ipsam magnam dolorum quaerat dolores suscipit et, ratione aut eaque, dignissimos placeat beatae optio, similique!
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 pl-40 pr-40 pb-40" align="center">
            <table class="button">
              <tr>
                <td class="ct-white f-helvetica">
                  <a href="#" class="ct-white f-helvetica">Saiba mais</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Import Info -->
  <tr>
    <td class="bg-gray-medium ct-gray pl-20 pr-20">
      <table class="w-full">
        <tr>
          <td class="bg-gray-medium f-helvetica t-uppercase ct-black fs-20 pt-60 pb-10 pl-20 pr-20" align="center">
            Informações importantes
          </td>
        </tr>
        <tr>
          <td class="bg-gray-medium f-helvetica ct-gray fs-16 pl-20 pr-20 pb-40" align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ab!
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 p-all-40 bb" align="center">
            <table class="w-full">
              <tr>
                <td align="center" class="pb-20">
                  <%= image_tag "https://placeimg.com/50/50/people?hash=a", :class => 'w-default' %>
                </td>
              </tr>
              <tr>
                <td align="center" class="f-helvetica fs-16 ct-gray">
                  Rua do Rezende, 82<br>
                  <a href="#" class="t-link t-uppercase">Veja o local no mapa</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 p-all-40 bb" align="center">
            <table class="w-full">
              <tr>
                <td align="center" class="pb-20">
                  <%= image_tag "https://placeimg.com/50/50/people?hash=b", :class => 'w-default' %>
                </td>
              </tr>
              <tr>
                <td align="center" class="f-helvetica fs-16 ct-gray">
                  Dia 23 de outubro, às 19:34h<br>
                  <a href="#" class="t-link t-uppercase">Me Avise</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 p-all-40" align="center">
            <table class="w-full">
              <tr>
                <td align="center" class="pb-20">
                  <%= image_tag "https://placeimg.com/50/50/people?hash=c", :class => 'w-default' %>
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <table class="w-full">
                    <tr>
                      <td class="f-helvetica fs-20 ct-black t-uppercase" align="center">
                        Title
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Space -->
  <tr>
    <td class="bg-gray-medium pt-40"></td>
  </tr>

  <!-- Card Look -->
  <tr>
    <td class="bg-gray-medium ct-gray pl-20 pr-20">
      <table class="w-full">
        <tr>
          <td class="bg-white pb-30" align="center">
            <%= image_tag 'https://placeimg.com/640/300/nature?hash=a' %>
          </td>
        </tr>
        <tr>
          <td class="bg-white pb-10 f-helvetica ct-black t-uppercase fs-20 pl-20 pr-20" align="center">
            Title
          </td>
        </tr>
        <tr>
          <td class="bg-white pb-20 f-helvetica fs-16 ct-gray pl-20 pr-20" align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque facilis odit alias porro quae nam optio, dolor tempore enim laborum tempora laboriosam temporibus ea dolorem repellendus pariatur, dolorum adipisci officia!
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 pl-40 pr-40 pb-40" align="center">
            <table class="button">
              <tr>
                <td class="ct-white f-helvetica">
                  <a href="http://www.nike.com.br/campanha-essenciais-para-correr/genero-masculino/?Filtro=V115_V1806&icid=6000053&utm_source=Brand&utm_medium=VemJuntoSite&utm_campaign=VemJunto&utm_content=RunEssentials&utm_term=laydown_kali" class="ct-white f-helvetica">Saiba mais</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Space -->
  <tr>
    <td class="bg-gray-medium pt-40"></td>
  </tr>

  <!-- Suggestion -->
  <tr>
    <td class="bg-gray-medium ct-gray pl-20 pr-20">
      <table>
        <tr>
          <td class="bg-white f-helvetica t-uppercase ct-black fs-20 pt-40 pb-10 pl-40 pr-40" align="center">
            Title
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 ct-gray pl-40 pr-40 pb-20" align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eum delectus labore aliquam, atque ab rem cum nesciunt cupiditate deleniti!
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 pl-40 pr-40 pb-40" align="center">
            <table class="button">
              <tr>
                <td class="ct-white f-helvetica">
                  <a href="https://web.nike.com/vemjunto/index.html#/share/idea" class="ct-white f-helvetica">Enviar sugestão</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 ct-gray pl-40 pr-40 pb-20" align="center">
            Lorem ipsum dolor sit amet.
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 ct-gray pl-40 pr-40 pb-20" align="center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime minus, aliquam recusandae accusamus! Nesciunt, beatae.
          </td>
        </tr>
        <tr>
          <td class="bg-white pt-20 bb pb-20" align="center">
            <table>
              <tr>
                <td class="pr-10">
                  <a href="https://itunes.apple.com/br/app/nike+-running/id387771637?mt=8">
                    <%= image_tag 'bt-apple-store.png', :class => 'w-default inline-block-element' %>
                  </a>
                </td>
                <td>
                  <a href="https://play.google.com/store/apps/details?id=com.nike.plusgps&hl=pt_BR">
                    <%= image_tag 'bt-google-play.png', :class => 'w-default inline-block-element' %>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Share -->
  <tr>
    <td class="bg-gray-medium ct-gray pl-20 pr-20">
      <table class="w-full">
        <tr>
          <td class="bg-white f-helvetica t-uppercase ct-black fs-20 pt-30 pb-30 pl-40 pr-40" align="center">
            Title
          </td>
        </tr>
        <tr>
          <td class="bg-white f-helvetica fs-16 pl-40 pr-40 pb-40" align="center">
            <table>
              <tr>
                <td class="pr-10">
                  <a href="https://www.facebook.com/sharer/sharer.php?u=https://web.nike.com/vemjunto/index.html">
                    <%= image_tag "icon-facebook-#{current_page.data.theme}.png" %>
                  </a>
                </td>
                <td>
                  <a href="https://twitter.com/home?status=Todos correm por um motivo. Vem Junto é o lugar ideal pra você encontrar algo que te faça correr. Bora pra pista? https://web.nike.com/vemjunto/index.html">
                    <%= image_tag "icon-twitter-#{current_page.data.theme}.png" %>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- Space -->
  <tr>
    <td class="bg-gray-medium pt-40"></td>
  </tr>

</table>